
<nav class="navbar bg-dark navbar-dark fixed-top">
        
                <h1 style="font-size: 25px;color: white; height: 10%;">
                        Github 
                </h1>
                <h2 class="jumbotron" style="margin-left: 120px; padding:inherit;">pro-coder123</h2>
                <div class="form-group">
                        <input type="text" class="form-control" placeholder="Repository search" #_search>
                        <button (click) = "Search(_search.value)" class="btn btn-success">Search</button>
                </div>
</nav>
<!-- <div class="container"> -->
    
<div *ngIf="(search_results | keyvalue)?.length">
<h2 style="margin-top : 5%;">Search results</h2>

<div class="row">
<div class="col-md-5">
<div *ngFor = "let reps of search_results.items">

    <a class="nav-link" href="#" (click) = "change(reps)">{{reps.full_name}}</a>
</div>
</div>
<div class="col-md-5">
<app-repo-info [data]="clicked" [is]="isclicked"></app-repo-info>

</div>
</div>
</div>
<!-- </div> -->


<h2 style="margin-top : 5%;">My Respositories</h2>
<p>Click on a repository to delete it</p>
<div class="flex-container">
<div *ngFor = "let reps of res">
   <button class="btn btn-default" (click)="set(reps.name)" data-toggle="modal" data-target="#confirm">{{reps.name}}</button>
</div>
</div>
<div class="modal" id="confirm">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{toDelete}} will be deleted</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                    <div class="container">
                
                            <form action="#">
                              <h3>Are you sure?</h3>

                            </form>
                          </div>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" (click) = "del()" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
      
          </div>
        </div>
      </div>   



<h2>Create a new Repository right now!</h2>

<input #name type="text" class="form-control" placeholder="Enter name of new repository">

<button (click)="fire(name.value)" class="btn btn-primary">Create</button>

